/* Content Component Styles */

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

.item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem 0 0.5rem 0.5rem;
	margin: 0.25.rem 0;
	background-color: #eee;
}

.item:first-child {
	margin: 0;
}

.item input[type='checkbox']:focus + label {
	text-decoration: underline;
}

.item > label {
	font-size: 0.75rem;
	flex-grow: 1;
}

.item svg {
	width: 48px;
	min-width: 48px;
	height: 36px;
	font-size: 1rem;
	color: steelblue;
	cursor: pointer;
}

.item svg:focus,
.item svg:hover {
	color: red;
	outline: none;
}
